{% include 'head.html' %}
<body>
    <div class="container">
        <div class="jumbotron mt-3">
            {% if main %}
            <h1>HomeIOT</h1>
            {% elif device not in device_list or room not in room_list %}
            <h1>Not Found</h1>
            {% else %}
            <h1>{{ device + '_' + room }}</h1>
            <p id="now_data">loading...</p>
            <div class="btn-toolbar mr-2" role="toolbar">                    
                <div class="input-group">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        {% if device != 'gas' %}
                        <button type="button" class="btn btn-secondary set" id="btn-on" data="on" role="button" href="#">on</button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary set" id="btn-off" data="off" role="button" href="#">off</button>
                    </div>

                    {% if device == 'heating' %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Temp</span>
                        </div>
                        <input type="number" id="temp" class="form-control" min="5" max="40">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary temp-set" type="button" id="button-set">set</button>
                        </div>
                    </div> 
                    {% endif %}

                    {% if device == 'ventilation' %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary set wind-p" data="1">33%</button>
                        <button type="button" class="btn btn-secondary set wind-p" data="2">66%</button>
                        <button type="button" class="btn btn-secondary set wind-p" data="3">100%</button>
                    </div>
                    {% endif %}
                </div>
            </div>
			{% endif %}
        </div>
    </div>
    {% include 'navbar.html' %}
    {% include 'js.html' %}
    <script src="{{ url_for('static', filename='./js/request.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/update.js') }}"></script>
    <script>update();</script>
</body>
</html>