{% include 'head.html' %}
<body>
    <div class="container">
        <div class="jumbotron mt-3">
            {% if room not in room_list %}
            <h1>Not Found</h1>
            {% else %}
            <h1>Schedule {{ room }}</h1>
            <div class="btn-toolbar">                    
                <div class="input-group">
                    <div class="input-group sc-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Time</span>
                        </div>
                        <input type="number" class="form-control" placeholder="hhmm" id="s_time" min="0" max="2400">
                    </div> 
                    <div class="btn-group sc-group mb-3" role="group">    
                        <button type="button" class="btn btn-secondary set" id="btn-on" href="#">on</button>
                        <button type="button" class="btn btn-secondary set" id="btn-off" href="#">off</button>
                    </div>
                    <div class="sc-group mb-3">
                        <input type="number" class="form-control" placeholder="℃" id="s_temp" min="5" max="40">
                    </div>
                    <div class="sc-group mb-3">
                        <button type="button" class="btn btn-secondary set" id="set" href="#">set!</button>
                    </div>
                </div>
            </div>
			{% endif %}
        </div>
    </div>
    {% include 'navbar.html' %}
    {% include 'js.html' %}
    <script src="{{ url_for('static', filename='./js/schedule.js') }}"></script>
</body>
</html>